
  <%= form_with(model: post, local: true)do |form| %>
    <% if post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <label>Hôm nay bạn sẽ đăng gì ?</label><br />
      <%= form.text_area :articles, class:"form-control" ,id: :post_articles %>
    </div>

    <div class="actions">
      <%= form.submit 'Đăng bài' ,class:'btn btn-primary btn-sm'%>
    </div>
  <% end %>
