<p id="notice"><%= notice %></p>

<h3 class="border-2 boder-primary rounded text-center" >Các bài viết của tất cả mọi người</h3>

  <% @posts.each do |post| %>
      <% if user_signed_in? && post.user_id == current_user.id%>
        <div class="card m-4 bg-light">
          <h5 class="card-header text-info" style="background: aliceblue"> "<%=post.author%>" <small> đã đăng bài viết này (Có <%=post.comments.count%> bình luận)</small></h5>
            <div class="card-body"> 
            <!-- Hiển thị thời gian đăng bài viết-->
             <p class="card-title text-primary"> Bài viết được đăng vào <%=post.created_at.strftime("%d/%m/%Y - %H:%M:%S %p")%> </p>
              <p class="card-text text-center" style="font-family: 'Roboto Slab', serif;"><%=(post.articles).truncate(400, omission: '... (còn tiếp)')%></p>
              <hr />
                <!-- Cửa sổ tùy chỉnh -->
                <div class="dropdown">
                  <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tùy chỉnh bài viết của bạn
                  </button>
                  <div class="dropdown-menu">
                      <%= link_to 'Sửa bài viết', edit_post_path(post), class:'dropdown-item' %>
                      <%= link_to 'Xem bài viết', post, class:'dropdown-item' %>
                      <div class="dropdown-divider"></div>
                      <%= link_to 'Hủy bài viết', post, class:'dropdown-item text-danger', method: :delete, data: { confirm: 'Bạn có chắc muốn xóa ?' } %>
                  </div>                 
              </div>
            </div>
        </div>
        
        <% else %>
        <div class="card m-4 bg-light">
          <h5 class="card-header"> "<%=post.author%>" <small> đã đăng bài viết này (Có <%=post.comments.count%> bình luận)</small></h5>
            <div class="card-body"> 
            <!-- Hiển thị thời gian đăng bài viết-->
             <p class="card-title text-primary"> Bài viết được đăng vào <%=post.created_at.strftime("%d/%m/%Y - %H:%M:%S %p")%></p>           
              <p class="card-text text-center" style="font-family: 'Roboto Slab', serif;"><%=(post.articles).truncate(400, omission: '... (còn tiếp)')%></p>
              <hr />
              <%= link_to '<button class="btn btn-secondary btn-sm">Xem bài viết</button>'.html_safe, post %>
            </div>
        </div>
        
    <% end %>
  <% end %>
<br>