 <!-- Jumbotron Header -->
      <header class="p-5">
        <h2  class="text-center"> Nhóm Ruby on rails </h2>
        <div class="text-center">
        <%= image_tag("Z.jpg",size: "960x550",class:"rounded") %>
        </div>
      </header>

      <!-- Page Features -->
      <h2  class="text-center"> Các thành viên nhóm </h2>
      <div class="row text-center">

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">        
            <%= image_tag("7.jpg", class: "card-img-top") %>
            <div class="card-body">
              <h4 class="card-title">Thanh Tâm</h4>
              <p class="card-text">"Quấn mền ăn ngủ"</p>
            </div>
            <div class="card-footer">
              <a href="https://www.facebook.com/Dragunnai" class="btn btn-primary text-white">Bỏ qua!</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <%= image_tag("3.jpg", class: "card-img-top") %>
            <div class="card-body">
              <h4 class="card-title">Tuấn Khanh</h4>
              <p class="card-text">"Cao thủ sát gái"</p>
            </div>
            <div class="card-footer">
              <a href="https://www.facebook.com/tuankhanh.lehoang.2711" class="btn btn-primary text-white">Cua ngay !</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <%= image_tag("1.jpg", class: "card-img-top") %>
            <div class="card-body">
              <h4 class="card-title">Thanh Tiến</h4>
              <p class="card-text">"Trẻ trâu nhất xóm"</p>
            </div>
            <div class="card-footer">
              <a href="https://www.facebook.com/huynh.tien.58511" class="btn btn-primary text-white">Cua ngay !</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <%= image_tag("4.jpg", class: "card-img-top") %>
            <div class="card-body">
              <h4 class="card-title">Tường Huy</h4>
              <p class="card-text">"Đại gia sài thành"</p>
            </div>
            <div class="card-footer">
              <a href="https://www.facebook.com/huy.pham.3762584" class="btn btn-primary text-white">Cua ngay !</a>
            </div>
          </div>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->